@model SYSVendas.MVC.ViewModels.AddProdutoViewModel


@{
    ViewBag.Title = "Adicionar Produto";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.ProdutoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProdutoId", null, ((IList<System.Web.Mvc.ModelMetadata>)ViewData.ModelMetadata.Properties)

                [0].Watermark, htmlAttributes: new { @class = "form-control", @required = "true" })
                @Html.ValidationMessageFor(model => model.ProdutoId, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Qtd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Qtd, new { htmlAttributes = new { @class = "form-control", @required = "true" } })


                @Html.ValidationMessageFor(model => model.Qtd, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" id=ViewBag.VendaId class="btn btn-info" />
                @Html.ActionLink("Voltar", "Details", new { id = ViewBag.VendaId }, new { @class = "btn btn-dark" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}