@model IEnumerable<SYSVendas.MVC.ViewModels.VendaViewModel>

@{
    ViewBag.Title = "Index";
}
    <hr />
<h2>Vendas</h2>

<p>
    @Html.ActionLink("Nova Venda", "Create", new { }, new { @class="btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VendaId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cancelado)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.VendaId)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Cliente.Nome)
        @Html.DisplayFor(modelItem => item.Cliente.Sobrenome)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ValorTotal)
    </td>
    @if (item.Cancelado)
    {
      <td class="text-danger">Cancelado</td>
    } else
    {
        <td>Ativa</td>
    }

    <td>
        @Html.ActionLink("Detalhes", "Details", new { id = item.VendaId }, new { @class = "btn btn-secondary" })
    </td>
</tr>
}

</table>
