@model IEnumerable<SYSVendas.MVC.ViewModels.VendaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova Venda", "Create", new { }, new { @class="btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VendaId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.VendaId)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Cliente.Nome)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ValorTotal)
    </td>

    <td>
        @Html.ActionLink("Detalhes", "Details", new { id = item.VendaId }, new { @class="btn btn-secondary"}) 
        @Html.ActionLink("Adicionar/Ver Produtos", "AddProdutosNaVendaIndex", new { id = item.VendaId }, new { @class="btn btn-secondary"})
    </td>
</tr>
}

</table>
